{% set current = request.endpoint %}

<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.tela_materiais') }}">
            <img src="{{ url_for('static', filename='img/LOGO.png') }}" alt="Logo"> 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <i class="bi bi-list text-white fs-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if current == 'main.tela_inicial' %}active{% endif %}" href="{{ url_for('main.tela_inicial') }}">
                       <i class="bi bi-house-door-fill"></i> Página Inicial
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current == 'main.tela_foruns' %}active{% endif %}" href="{{ url_for('main.tela_foruns') }}">
                       <i class="bi bi-chat-left-dots-fill"></i> Fóruns
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current == 'main.tela_divulgacao' %}active{% endif %}" href="{{ url_for('main.tela_divulgacao') }}">
                       <i class="bi bi-megaphone-fill"></i> Divulgação
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current == 'main.tela_materiais' %}active{% endif %}" href="{{ url_for('main.tela_materiais') }}">
                       <i class="bi bi-file-earmark-text-fill"></i> Materiais
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current == 'main.tela_mapa' %}active{% endif %}" href="{{ url_for('main.tela_mapa') }}">
                       <i class="bi bi-geo-alt-fill"></i> Mapa
                    </a>
                </li>
            </ul>
            <a href="{{ url_for('main.tela_perfil') }}" class="profile-link ms-lg-auto">
                <span>Olá, {{ current_user.name }}</span>
                <div class="profile-pic">
                    <img src="{{ current_user.foto_url }}" alt="Perfil"> 
                </div>
            </a>
        </div>
    </div>
</nav>
